h1 {
  font-family: helvetica;
  font-weight: 200;
}

.test-maker > div {
  border: 1px solid black;
  padding: 10px;
}

div[role=presentation].mm-popup--visible {
  position: absolute;
  background: white;
  width: 80%;
  margin-left: 9%;
  border: 3px solid black;
  padding: 1%;
  border-radius: 10px;
}